@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.basic-navbar-div {
  height: 64px;
  background: linear-gradient(to bottom, rgba(0, 13, 190, 1), rgba(0, 13, 190, 0.8));

}

.basic-navbar-list {
  display:flex;
  float:left;
  list-style: none;
}

.navbar-list-item {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size:20px;
  font-family: "Open Sans";
}

.navbar-list-item:hover {
  background-color: rgb(14, 69, 187);
  transition: 0.7s;
}

.navbar-list-item-url {
  text-decoration: none;
}

/* button {
  height: 100px;
  width: 100px;
} */