.basic-navbar-div {
  padding-bottom:5px;
  height: 64px;
  background-color: #0053a7;
  border-radius: 0px;
}

.basic-navbar-list {
  display:flex;
  float:left;
  list-style: none;
}

.navbar-list-item {
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size:15px;
  font-family: Roboto, sans-serif;
}

.navbar-list-item:hover {
  background-color: rgb(14, 69, 187);
  transition: 0.5s;
  border-radius: 3px;
}

.navbar-list-item-url {
  text-decoration: none;
}

#navbar-logo {
  height: 55px;
  padding: 0px;
}

#navbar-logo:hover {
  background-color: rgb(14, 69, 187);
  transition: 0.5s;
  border-radius: 3px;
}
